* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    position: relative;
}
.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-inline: 1rem;
    position: absolute;
    top: 0;
}
.btn {
    padding-inline: 1rem;
}
.grid {
    --sideSquare: 10;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    box-sizing: content-box;
    
}
.cell {
    width: calc(100% - var(--sideSquare));
    height: calc(100% - var(--sideSquare));
    flex-grow: 0;
    flex-shrink: 0;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicked {
    background-color: crimson;
}
.footbar {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    width: 100%;
    height: 4rem;
    background-color: white;
    position: absolute;
    bottom: 0;
}